QLabel#ImageLabel:hover {
    background-color: #011305
}

QLabel#ImageLabelUnlabeled {
    border-color: red;
    border-width: 10px;
    border: 1px solid red;
}

QLabel#ImageLabelLabeled {
    border-color: red;
    border-width: 10px;
    border: 1px solid green;
}